{% block member_table %}
    <div
        class="member-table-container">
        
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Bild</th>
                  </tr>
            </thead>
            {% block member_table_body %}
            <tbody>
                {% for member in members %}
                    <member-row
                    :member="member"
                    >
                {% endfor %}
            </tbody>
            {% endblock %}
        </table>

    </div>
{% endblock %}