/*
Override variable defaults
==================================================
This file is used to override default SCSS variables from the Shopware Storefront or Bootstrap.

Because of the !default flags, theme variable overrides have to be declared beforehand.
https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
*/

$sw-color-brand-primary: #008490;
$sw-color-brand-adding: #595959;
:export {
    primary: $sw-color-brand-primary;
    adding: $sw-color-brand-adding;
}