<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_team_member %}
<div class="sw-cms-block-team-member">
    <p>Hier könnte ihr Block stehen</p>
    {# <slot name="left">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_image_text_slot_left %}{% endblock %}
    </slot>
    <slot name="right">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_image_text_slot_right %}{% endblock %}
        {% block sw_cms_block_image_text_slot_right %}{% endblock %}
    </slot> #}
</div>
{% endblock %}
